 .dakisvan {
   background: #a01329;
   border-radius: 3px;
   color: #f9f0f0;
   display: inline-block;
   font-size: 15px;
   padding: 10px 20px;
   text-decoration: none;
   text-align: center;
   min-width: 60px;
   position: relative;
   transition: color .1s ease;
 }
 .dakisvan:hover {
   background: #d01734;
 }
 .dakisvan.valokan-big {
   font-size: 18px;
   padding: 15px 20px;
   min-width: 100px;
 }
 .valokan-close {
   color: #e60023;
   font-size: 30px;
   text-decoration: none;
   padding:10px;
   position: absolute;
   right: 7px;
   top: 0;
 }
 .valokan-close:hover {
   color: #333;
 }
 .kadobagud:before {
   content: "";
   display: none;
   background: rgba(0, 48, 230, 0.3);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 10;
 }
 .midsalod:before {
   display: block;
 }
 .midsalod .angebes-koverla {
   transform: translate(0, 0);
   top: 20%;
 }
 .angebes-koverla {
   background: #fefefe;
   border: #232222 solid 0px;
   border-radius: 5px;
   margin-left: -50px;
   text-align:center;
   position: fixed;
   left: 20%;
   top: -100%;
   z-index: 11;
   width: 55%;
   box-shadow:0 5px 10px rgba(25, 24, 24, 0.3);
   transform: translate(0, -500%);
   transition: transform 0.3s ease-out;
 }
 .davasgu-kevanud {
   padding: 20px;
 }
 .davasgu-kevanud input{
   width:200px;
   padding:8px;
   border:1px solid #ddd;
   color:#888;
   outline:0;
   font-size:14px;
   font-weight:bold;
   margin-top: 10px;
 }
 .doveacko-gangeroun,
 .kusane-avasgun {
   padding: 10px 20px;
 }
 .doveacko-gangeroun {
   border-bottom: #eeeeee solid 1px;
 }
 .doveacko-gangeroun h2 {
   font-size: 20px;
 }


td.multicelect {
   width: 20%;
   max-width: 20%;
}

img.logo{
   max-width: 130px;
   height: auto;
}

img.small_logo{
   height: 16px;
}

.resp-tab {
   border-radius: 5px;
   font-weight: normal;
   border: none;
   border-collapse: collapse;
   width: 100%;
   max-width: 100%;
}
.resp-tab th, .resp-tab td {
   padding: 5px 7px;
   font-size: 13px;
   border: none;
   font-family: Verdana, sans-serif;   
   border: 1px solid #337AB7;
   vertical-align: top;
}
.resp-tab th {
   color: #FFF;
   background: #337AB7;
   font-weight: bold;
   border: 1px solid #1a4a73;   
   text-transform: uppercase;   
   text-align: center;   
}
.resp-tab tr:nth-child(even) {
   background: #edf7ff;
}
.resp-tab td span {
   background: #337AB7;
   color: #FFF;
   display: none;
   font-size: 11px;
   font-weight: bold;
   font-family: Verdana, sans-serif;   
   text-transform: uppercase;       
   padding: 5px 10px;
   position: absolute;
   top: 0;
   left: 0;   
}
@media(max-width: 1080px) {
   .resp-tab thead {
       display: none;
   }
   .resp-tab tr {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       margin-bottom: 30px;
   }
   .resp-tab td {
       margin: 0 -1px -1px 0;
       padding-top: 35px;
       position: relative;
       width: 50%;
   }
   .resp-tab td span {
       display: block;
   }
}
@media(max-width: 480px) {
   .resp-tab td {
       width: 100%;
   }
}



div.cont{
    width: 50%;
}


 .flash{padding: 10px;}
 .flash.success{ 
    border:1px solid #21DB56;
    background: #AEFFC5;
 }

 .flash.error{
     border:1px solid #FF4343;
    background: #FF9C9C;
 }

 .profile-ava{
    width: 250px;
    text-align: center;
    overflow: hidden;
    background: #eee;
    padding: 10px;
 }

 .profile-avamini{
   width: 40px;
   text-align: center;
   overflow: hidden;
   background: #eee;
   padding: 5px;
   margin-right: 15px;
}
.profile-avamini img {max-width: 30px; height: auto;}

 .profile-ava img {max-width: 150px; height: auto;}
 .profile-load{
    margin-top: 10px;
    overflow: hidden;
    max-width: 250px;
 }
 .profile-load input[type=submit],input[type=file]{
    width:100%;
    font-size:18px;
 }
 .profile-load p {
    padding: 0;
    margin: 5px 0 0 0;
 }
 .profile-panel {padding:0 0 0 10px;}
 ul.profile-info{
     list-style:none;
    margin:10px000;
    padding:0;
    color:#7E652F;
 }
 ul.profile-info li{margin-top:10px;}

 body .arbytable-flex {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}
#arby-not-available {
   padding-top: 120px;
   max-width: 100vw;
   text-align: center;
}
body .arbytable-flex #arby-not-available .container_landing {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
body .arbytable-flex #arby-not-available .container_landing p.desc {
   opacity: .5;
   font-size: 16px;
   margin-top: 20px;
}
body .arbytable-flex #arby-not-available .container_landing a.button-tariff {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 250px;
   height: 60px;
   border-radius: 40px;
   background-color: #00a86a;
   margin-top: 20px;
   color: #fff;
   text-decoration: none;
}

table {
   padding: 1px;
}

.btn-bd-primary {
   --bs-btn-font-weight: 600;
   --bs-btn-color: var(--bs-white);
   --bs-btn-bg: var(--bd-violet);
   --bs-btn-border-color: var(--bd-violet);
   --bs-btn-border-radius: .5rem;
   --bs-btn-hover-color: var(--bs-white);
   --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
   --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
   --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
   --bs-btn-active-color: var(--bs-btn-hover-color);
   --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
   --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
 }

 td .all_width{
   width: 100%;
 }

 