{% extends 'base.html' %}

{% block title %}
Авторизация на сайте
{% endblock %}

{% block body %}
<!-- <section> begin ============================-->
    <section class="bg-dark text-center py-9">
        <div class="container">
          
          <div class="col-12 col-md-7 mx-auto">
            <h1 class="text-white fs-lg-7 fs-md-4 fs-3 my-4">К сожалению, что-то пощло не так и платеж не прошел.</h1>
          </div>
        </div><!-- end of .container-->
      </section><!-- <section> close ============================-->
      <!-- ============================================-->
{% endblock %}