{% extends 'base.html' %}

{% block title %}
Арбитражная страница
{% endblock %}

{% block body %}

<!-- ============================================-->
      <!-- <section> begin ============================-->
        <section class="bg-dark text-center py-9">
            <div class="container">
              
              <div class="col-12 col-md-7 mx-auto">
                <h1 class="text-white fs-lg-7 fs-md-4 fs-3 my-4">Торговые связки</h1>
              </div>
            </div><!-- end of .container-->
          </section><!-- <section> close ============================-->
          <!-- ============================================-->
  
  
  <section class="pb-0">
  <div class="container">

<div class="arbytable-flex">
    <section id="arby-not-available">
        <div class="container_landing">
            <img src="/static/images/logop2p.webp" alt="" width="250" height="auto"> 
            <h1>Здесь будет <br> арбитражная таблица</h1> 
            <p class="desc">Чтобы она здесь появилась, подключите один из тарифов</p> 
            <a href="" class="button-tariff">Подключить тариф</a>
        </div>
    </section> 
</div>
</div>
</section>


  {%endblock%}